/* Google font link start */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
/* Google font link close */

/* Universal selector styles start */
* {
  font-family: "Azeret Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Universal selector styles close */

/* navigation bar styles start */
nav {
  max-width: 1440px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  margin: auto auto;
}
nav h2 {
  color: rgb(13, 19, 33);
  font-size: 1.75rem;
  font-weight: 800;
}
nav button {
  color: rgb(13, 19, 33);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}

/* navigation bar styles close */

/* Banner section styles start */
.banner {
  max-width: 1440px;
  height: 652px;
  background: url(../assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto auto;
}
.banner-container {
  text-align: center;
  align-items: center;
  width: 998px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px auto;
  padding: 0px;
}
.banner-container img {
  margin-top: 30px;
}
.banner-container h2 {
  margin-top: 50px;
  color: rgb(13, 19, 33);
  font-size: 2.4rem;
  font-weight: 800;
}
.banner-container p {
  color: rgb(13, 19, 33);
  font-size:1rem;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 40px;
}
.banner-container button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 13px 17px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
/* Banner section styles close */

/* Why web devlopment section styles start */
.why-web {
  max-width: 1140px;
  height: 1393px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 80px 97px 80px 97px;
  margin: 100px auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
}
.why-web h2 {
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.why-web p {
  color: rgb(13, 19, 33);
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
  margin: 24px auto;
  text-align: center;
}
.why-web-1 {
  width: 946px;
  height: 336px;
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0px;
}
.why-web-1 div {
  width: 477px;
  height: 219px;
  text-align: start;
  margin-right: 93px;
}
.why-web-1 h2 {
  text-align: start;
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 20px;
}
.why-web-1 p {
  text-align: start;
  color: rgb(13, 19, 33);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.7;
}
.why-web-1 button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  margin-top: 20px;
  cursor: pointer;
}
.why-web-1 img {
  margin-top: -20px;
}

.why-web-2 {
  width: 946px;
  height: 336px;
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0px;
}
.why-web-2 div {
  width: 477px;
  height: 219px;
  text-align: start;
  margin-left: 93px;
}
.why-web-2 h2 {
  text-align: start;
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 20px;
}
.why-web-2 p {
  text-align: start;
  color: rgb(13, 19, 33);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.7;
}
.why-web-2 button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}
.why-web-2 img {
  margin-top: -20px;
}

.why-web-3 {
  width: 946px;
  height: 336px;
  display: flex;
  padding: 48px;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  margin: 32px 0px;
}
.why-web-3 div {
  width: 477px;
  height: 219px;
  text-align: start;
  margin-right: 93px;
}
.why-web-3 h2 {
  text-align: start;
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.75rem;
  font-weight: 700;
  padding-top: 20px;
}
.why-web-3 p {
  text-align: start;
  color: rgb(13, 19, 33);
  font-size: 1rem;
  line-height: 20px;
  font-weight: 400;
  opacity: 0.7;
}
.why-web-3 button {
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  padding: 12px 20px;
  cursor: pointer;
}
.why-web-3 img {
  margin-top: -20px;
}
/* Why web devlopment section styles close */

/* My inspiration section styles start */
.inspiration {
  max-width: 1140px;
  height: 775px;
  margin: auto auto;
  text-align: center;
  justify-content: center;
}
.inspiration h2 {
  text-align: center;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
}
.inspiration p {
  color: rgb(13, 19, 33);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: auto 144px;
  opacity: 0.7;
}
.youtube {
  width: 1140px;
  height: 614px;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  padding: 32px;
  margin-top: 40px;
}
.video {
  margin: auto auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* My inspiration section styles close */

/* Current target section start */
.current-target {
  max-width: 1140px;
  height: 460px;
  margin: 110px auto;
}
.current-target h2 {
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.current-target .headline-p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
  margin: auto 144px;
  margin-bottom: 30px;
  text-align: center;
}
.target {
  width: 1140px;
  height: 299px;
  display: flex;
  gap: 24px;
}
.target div {
  width: 32%;
  text-align: start;
  height: 100%;
  padding: 40px;
}
.HTML {
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.CSS {
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.JS {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.target div p {
  text-align: start;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}
.target div h3 {
  color: rgb(13, 19, 33);
  margin: 8px auto;
  font-size: 1.5rem;
  font-weight: 800;
}
.target div button {
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0px;
  border: none;
  background: transparent;
}
.target div button a {
  color: rgb(13, 19, 33);
}
/* Current target section close */

/* My Next target section styles start */
.next-target {
  max-width: 1140px;
  height: 866px;
  margin: auto auto;
}
.next-target h2 {
  color: rgb(13, 19, 33);
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 24px;
  text-align: center;
}
.next-target .next-p {
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 1rem;
  font-weight: 400;
  margin: auto 144px;
  margin-bottom: 48px;
  text-align: center;
}
.next-target .react {
  width: 100%;
  height: 219px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  display: flex;
  padding: 40px;
  margin-bottom: 24px;
}
.next-target .react img {
  width: 94.78px;
  height: 108px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.next-target .react div {
  width: 938.22px;
  height: 139px;
  margin-left: 30px;
}
.next-target .react div h3 {
  color: rgb(13, 19, 33);
  margin: 8px auto;
  font-size: 1.5rem;
  font-weight: 800;
}
.next-target .react div p {
  text-align: start;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.next-target .react div button {
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0px;
  border: none;
  background: transparent;
}
.next-target .react div button a {
  color: rgb(13, 19, 33);
}
.next-target .node {
  width: 100%;
  height: 219px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 24px;
}
.next-target .node div {
  width: 938.22px;
  height: 139px;
  margin-left: 30px;
}
.next-target .node img {
  width: 143.3px;
  height: 87.75px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.next-target .node div h3 {
  color: rgb(13, 19, 33);
  margin: 8px auto;
  font-size: 1.5rem;
  font-weight: 800;
}
.next-target .node div p {
  text-align: start;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.next-target .node div button {
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0px;
  border: none;
  background: transparent;
}
.next-target .node div button a {
  color: rgb(13, 19, 33);
}
.next-target .mongo {
  width: 100%;
  height: 219px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  padding: 40px;
  background: rgb(255, 255, 255);
  display: flex;
  margin-bottom: 24px;
}
.next-target .mongo div {
  width: 938.22px;
  height: 139px;
  margin-left: 30px;
}

.next-target .mongo img {
  width: 108px;
  height: 108px;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.next-target .mongo div h3 {
  color: rgb(13, 19, 33);
  margin: 8px auto;
  font-size: 1.5rem;
  font-weight: 800;
}
.next-target .mongo div p {
  text-align: start;
  color: rgb(13, 19, 33);
  opacity: 0.7;
  font-size: 1rem;
  margin-bottom: 20px;
  font-weight: 400;
}
.next-target .mongo div button {
  font-size: 16px;
  font-weight: 700;
  padding: 13px 0px;
  border: none;
  background: transparent;
}
.next-target .mongo div button a {
  color: rgb(13, 19, 33);
}
/* My Next target section styles close */

/* I need support section stylels start */
.support {
  max-width: 1140px;
  height: 313px;
  margin: 110px auto;
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../assets/handshake.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
}
.support h2 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 17px;
}
.support p {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 30px;
}
.support .text {
  width: 548px;
  height: 57px;
  padding: 19px 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.support .btn {
  width: 120px;
  min-height: 57px;
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
}
/* I need support section styles close */

/* footer section styles start */
footer {
  max-width:1440px;
  height: 100px;
  padding: 32px 150px;
  margin: auto auto;
  background: rgba(13, 19, 33, 0.03);
  display: flex;
  align-items: center;
}
footer p {
  color: rgb(13, 19, 33);
  font-size: 1.25rem;
  font-weight: 600;
  text-align: start;
}
footer div {
  width: 50%;
  display: flex;
  gap: 20px;
  padding-left: 530px;
}
footer div img {
  cursor: pointer;
}
/* footer section styles close */

